sudo: false

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/launchers

language: scala
scala:
  - 2.13.1
  - 2.12.10
  - 2.11.12
jdk:
  - openjdk8

script:
  - sbt ++$TRAVIS_SCALA_VERSION scalafmtCheckAll test

before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm

branches:
  only:
    - master
    - /^.*head$/
